.perm {
    font-family: 'Permanent Marker', cursive;
}

.play {
    font-family: 'Playfair Display', serif;
}

#logo {
    display: block;
}

body {
    background-color: #0A2239
}

#mainCard {
    background-color: #0A2239;
}

hr {
    color: #5C6F68;
}

.footer {
    background-color: #0A2239;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    position: static;
}

#exampleH {
    color: white;
}