.perm {
    font-family: 'Permanent Marker', cursive;
}

.play {
    font-family: 'Playfair Display', serif;
}

#logo {
    display: block;
}

body {
    background-color: #0A2239
}

#mainCard {
    background-color: white;
}

hr {
    color: #5C6F68;
}

.footer {
    background-color: #0A2239;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    position: static;
}

.btn {
    background-color: goldenrod;
}

.btn:hover {
    background-color: rgb(3, 48, 3);
    color: white;
}

svg {
    color: goldenrod;
}

svg:hover {
    color: rgb(3, 48, 3);
}