.perm {
    font-family: 'Shrikhand', cursive;
}

.play {
    font-family: 'Raleway', sans-serif;
}

#logo {
    display: block;
}

body {
    background-color: #20334d
}

#mainCard {
    background-color: #f5f5ef;
}

hr {
    border-top : 3px solid #cd9341 !important;
}

.footer {
    background-color: #20334d;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    position: static;
}

.btn {
    background-color: #cd9341;
}

.btn:hover {
    background-color: #20334d;
    color: white;
}

h1, h3, h2 {
    color: #20334d;
}

/* .carousel img {
    
} */